In [1]:
import funmath as mc
print(mc.add(100,200))
print(mc.substract(300,150))

300
150

In [26]:
import pandas as pd
data=pd.read_csv("D:/python/pdsalescst.csv")
dfc=pd.DataFrame(data)
print("dimensions",dfc.shape)
print("\n")
print(dfc.head())
print("\n")
print(dfc.describe(include='all'))
print("\n")
print(dfc)
spa=dfc.sort_values(by='product',ascending=False)
print("\n",spa)

dimensions (15, 3)


       product  quantity    cost
0      colgate     152.0  2052.0
1          rin     250.0  1957.0
2  coconut oil     202.0  1629.0
3          lux     251.0     NaN
4      colgate     193.0  1717.0


        product    quantity         cost
count        15   14.000000    13.000000
unique        4         NaN          NaN
top     colgate         NaN          NaN
freq          5         NaN          NaN
mean        NaN  213.000000  1914.461538
std         NaN   41.223593   346.461065
min         NaN  131.000000  1318.000000
25%         NaN  195.250000  1694.000000
50%         NaN  228.500000  1957.000000
75%         NaN  246.750000  2140.000000
max         NaN  254.000000  2380.000000


        product  quantity    cost
0       colgate     152.0  2052.0
1           rin     250.0  1957.0
2   coconut oil     202.0  1629.0
3           lux     251.0     NaN
4       colgate     193.0  1717.0
5           rin     254.0  1318.0
6       colgate       NaN  1994.0
7   coconut oil     231.0  2362.0
8           lux     226.0  1929.0
9           rin     131.0     NaN
10      colgate     248.0  1694.0
11  coconut oil     208.0  2380.0
12          lux     243.0  2313.0
13      colgate     238.0  2140.0
14  coconut oil     155.0  1403.0

         product  quantity    cost
14  coconut oil     155.0  1403.0
2   coconut oil     202.0  1629.0
11  coconut oil     208.0  2380.0
7   coconut oil     231.0  2362.0
0       colgate     152.0  2052.0
4       colgate     193.0  1717.0
13      colgate     238.0  2140.0
10      colgate     248.0  1694.0
6       colgate       NaN  1994.0
8           lux     226.0  1929.0
12          lux     243.0  2313.0
3           lux     251.0     NaN
9           rin     131.0     NaN
1           rin     250.0  1957.0
5           rin     254.0  1318.0

In [30]:
import pandas as pd
data=pd.read_csv("D:/python/coldata.csv")
dfc=pd.DataFrame(data)
#print("\n")
df1=dfc.iloc[:,0:2]
#print(df1)
#print("\n")
df2=dfc.iloc[1:4,:]
print(df2)
print("\n")
df3=dfc.iloc[2:4,0:2]
print(df3)
print("\n")

   col1  col2  col3  col4  col5  col6  col7  col8  col9  col10
1     2    12    22    32    42    52    62    72    82     92
2     3    13    23    33    43    53    63    73    83     93
3     4    14    24    34    44    54    64    74    84     94


   col1  col2
2     3    13
3     4    14

In [32]:
import pandas as pd
f1=pd.read_csv("D:/python/fp1.csv")
df1=pd.DataFrame(f1)
print(df1)
print("\n")
f2=pd.read_csv("D:/python/fp2.csv")
df2=pd.DataFrame(f2)
print(df2)
print("\n")
m11=pd.merge(df1,df2,on='fname')
print(m11)
print("\n")
m12=pd.merge(df1,df2,on='id')
print(m12)
print("\n")
m13=pd.merge(df1,df2,on=['id','fname'])
print(m13)

   id   fname  age gender
0  A1  sanjay   24      m
1  A2   vinod   12      m
2  A3  bharti   45      f
3  A4  saroja   36      f
4  A5    ravi   32      m


   id   fname    city blood education
0  A1    amit    pune     A        UG
1  A2   vinod    pune     B        UG
2  A3  vinaya  mumbai     O        GR
3  A4  saroja    pune     B        GR
4  A5    ravi  mumbai     O        GR


  id_x   fname  age gender id_y    city blood education
0   A2   vinod   12      m   A2    pune     B        UG
1   A4  saroja   36      f   A4    pune     B        GR
2   A5    ravi   32      m   A5  mumbai     O        GR


   id fname_x  age gender fname_y    city blood education
0  A1  sanjay   24      m    amit    pune     A        UG
1  A2   vinod   12      m   vinod    pune     B        UG
2  A3  bharti   45      f  vinaya  mumbai     O        GR
3  A4  saroja   36      f  saroja    pune     B        GR
4  A5    ravi   32      m    ravi  mumbai     O        GR


   id   fname  age gender    city blood education
0  A2   vinod   12      m    pune     B        UG
1  A4  saroja   36      f    pune     B        GR
2  A5    ravi   32      m  mumbai     O        GR