In [1]:
s1={1,2,3}
print(s1)
s2={1,2,3,2,1,2}
print(s2)
s3={1,2.4,'apple',3}
print(s3)

{1, 2, 3}
{1, 2, 3}
{'apple', 1, 3, 2.4}

In [2]:
print(len(s2))

3

In [3]:
print(len(s3))

4

In [4]:
set1=(1200,147,2.43,1.12)
set2=(213,100,289)
print("maximum value in:", set1,"is",max(set1))
print("maximum value in:", set2,"is",max(set2))

maximum value in: (1200, 147, 2.43, 1.12) is 1200
maximum value in: (213, 100, 289) is 289

In [5]:
set1=(1200,147,2.43,1.12)
set2=(213,100,289)
print("minimum value in:", set1,"is",min(set1))
print("minimum value in:", set2,"is",min(set2))

minimum value in: (1200, 147, 2.43, 1.12) is 1.12
minimum value in: (213, 100, 289) is 100

In [57]:
set1=[1200,147,2.43,1.12]
set2=(213,100,289)
print("maximum value in:",set1,"is",max(set1))

maximum value in: [1200, 147, 2.43, 1.12] is 1200

In [10]:
set1=(1200,147,2.43,1.12)
set2=(213,100,289)
print("total value in:", set1,"is",sum(set1))
print("total value in:", set2,"is",sum(set2))

total value in: (1200, 147, 2.43, 1.12) is 1350.55
total value in: (213, 100, 289) is 602

In [11]:
#sorted set
set1=(1200,147,2.43,1.12)
set2=sorted(set1)
print("sorted value in:", set1,"is",set1)
print("sorted value in:", set2,"is",set2)

sorted value in: (1200, 147, 2.43, 1.12) is (1200, 147, 2.43, 1.12)
sorted value in: [1.12, 2.43, 147, 1200] is [1.12, 2.43, 147, 1200]

In [13]:
#set.remove(obj)
set1={3,8,2,6}
print("set before addition",set1)
set1.remove(2)
print(set1)

set before addition {8, 2, 3, 6}
{8, 3, 6}

In [16]:
#union in python
set1={1,2,3,4}
print("set1",set1)
set2={3,4,5}
print("set2",set2)
set3=set1.union(set2)
print("union of set 1&2 is :",set3)

set1 {1, 2, 3, 4}
set2 {3, 4, 5}
union of set 1&2 is : {1, 2, 3, 4, 5}

In [18]:
set1=input(("enter no:"))
print(set1)

enter no:12
12

In [21]:

tinydict={'name':'john','code':6734,'dept':'sales'}
print(tinydict)
print(tinydict.keys())
print(tinydict.values())

{'name': 'john', 'code': 6734, 'dept': 'sales'}
dict_keys(['name', 'code', 'dept'])
dict_values(['john', 6734, 'sales'])

In [30]:
dict={}
dict['one']="This is one"
print(dict['one'])

This is one

In [31]:
dict1={'name':'tom','age':20,'height':160}
print(dict1)
dict1['age']=25
print("dictionary after update;", dict1)
dict1['weight']=60
print("dictionary after adding new key value pair", dict1)

{'name': 'tom', 'age': 20, 'height': 160}
dictionary after update; {'name': 'tom', 'age': 25, 'height': 160}
dictionary after adding new key value pair {'name': 'tom', 'age': 25, 'height': 160, 'weight': 60}

In [33]:
#we can delete the entire dict. dictionary elements or individual elements
#we can use del statement to delete the dict the dictionary completely
dict1={'name':'tom','age':20,'height':160}
print(dict1)
del dict1['age']
print(dict1)

{'name': 'tom', 'age': 20, 'height': 160}
{'name': 'tom', 'height': 160}

In [45]:
num=int(input("enter a number:"))
if num==0:
    print("the number is "+"zero")
print('always printed')

enter a number:0
the number is zero
always printed

In [54]:
num=int(input("enter a number: "))
if num>0:
    print("num is positive")
elif num==0:
    print("zero")
else:
    print("num is negative")

enter a number: -10
num is negative

In [60]:
#syntax for 'for' loop
# for item in sequence:
#  body of for
numbers=[2,4,6,8,10]
sum=1
for item in numbers:
    sum=sum+item
print("the sum is: ",sum)

the sum is:  31

In [63]:
flowers=['rose','lotus','jasmine']
for flower in flowers:
    print("current flower: ", flower)

current flower:  rose
current flower:  lotus
current flower:  jasmine

In [64]:
#while
#while loop in python is used to iterate over a block of cide as 
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

In [66]:
#def for defining a function
def my_function():
    print("hello from a function")

In [73]:
#def for defining a function
def my_function():
    print("hello from a function")
    
my_function()

hello from a function

In [70]:
def my_function(fname):
    fname1=print(fname+" patil")
    
my_function("harshal")
my_function("tobias")
my_function("linus")

harshal patil
tobias patil
linus patil